[Desktop Entry]
Type=Service
MimeType=application/octet-stream
Actions=md5sum;sha1sum;sha256sum
X-KDE-Submenu=Checksum

[Desktop Action md5sum]
Name=md5sum
Icon=background
Exec=konsole --noclose -e md5sum %u

[Desktop Action sha1sum]
Name=sha1sum
Icon=background
Exec=konsole --noclose -e sha1sum %u

[Desktop Action sha256sum]
Name=sha256sum
Icon=background
Exec=konsole --noclose -e sha256sum %u
